Download BTC USD DATA for mar 2020

In [1]:
!wget "https://data.binance.vision/data/spot/monthly/trades/BTCUSDT/BTCUSDT-trades-2022-03.zip"

--2022-04-11 19:27:51--  https://data.binance.vision/data/spot/monthly/trades/BTCUSDT/BTCUSDT-trades-2022-03.zip
Resolving data.binance.vision (data.binance.vision)... 18.66.53.85, 18.66.53.106, 18.66.53.49, ...
Connecting to data.binance.vision (data.binance.vision)|18.66.53.85|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 550934638 (525M) [application/zip]
Saving to: ‘BTCUSDT-trades-2022-03.zip’

BTCUSDT-trades-2022 100%[===================>] 525.41M  4.50MB/s    in 2m 31s

2022-04-11 19:30:24 (3.48 MB/s) - ‘BTCUSDT-trades-2022-03.zip’ saved [550934638/550934638]

Extract The zip file in the current folder

In [2]:
ls

assignment_1.ipynb  BTCUSDT-trades-2022-03.zip  LICENSE  README.md

In [3]:
import zipfile
with zipfile.ZipFile('BTCUSDT-trades-2022-03.zip', 'r') as zip_ref:
    zip_ref.extractall('')

Read the csv file using pandas

In [4]:
import pandas as pd
df = pd.read_csv('BTCUSDT-trades-2022-03.csv')
df.head()

,1274557543,43160.00000000,0.00056000,24.16960000,1646092800000,True,True.1
0,1274557544,43160.01,0.00052,22.443205,1646092800003,False,True
1,1274557545,43160.01,0.00182,78.551218,1646092800004,False,True
2,1274557546,43160.01,0.00631,272.339663,1646092800005,False,True
3,1274557547,43160.00,0.00229,98.836400,1646092800006,True,True
4,1274557548,43160.00,0.00739,318.952400,1646092800007,True,True

Looks like column names are not specified. Lets specify the column names and load the data again

In [5]:
df = pd.read_csv('BTCUSDT-trades-2022-03.csv', header=None, names = ['trade Id',	'price', 'qty', 'quoteQty','time', 'isBuyerMaker','isBestMatch'])
df.head()

,trade Id,price,qty,quoteQty,time,isBuyerMaker,isBestMatch
0,1274557543,43160.00,0.00056,24.169600,1646092800000,True,True
1,1274557544,43160.01,0.00052,22.443205,1646092800003,False,True
2,1274557545,43160.01,0.00182,78.551218,1646092800004,False,True
3,1274557546,43160.01,0.00631,272.339663,1646092800005,False,True
4,1274557547,43160.00,0.00229,98.836400,1646092800006,True,True

The time is present as a timestamp, lets convert it to Datetime and store it in a new column. (this is required to filter only the first 3 days of March and backtrader also needs a datetime column). The time stamp is in utc time zone.

In [6]:
import datetime
df['dt'] = df['time'].apply(lambda x: datetime.datetime.utcfromtimestamp(x/1000))
df.head()

,trade Id,price,qty,quoteQty,time,isBuyerMaker,isBestMatch,dt
0,1274557543,43160.00,0.00056,24.169600,1646092800000,True,True,2022-03-01 00:00:00.000
1,1274557544,43160.01,0.00052,22.443205,1646092800003,False,True,2022-03-01 00:00:00.003
2,1274557545,43160.01,0.00182,78.551218,1646092800004,False,True,2022-03-01 00:00:00.004
3,1274557546,43160.01,0.00631,272.339663,1646092800005,False,True,2022-03-01 00:00:00.005
4,1274557547,43160.00,0.00229,98.836400,1646092800006,True,True,2022-03-01 00:00:00.006

Lets Filter the data for the first 3 days of March 2022.

In [7]:
df = df[(df['dt'] >= '2022-03-01') & (df['dt'] < '2022-03-4')]
df

,trade Id,price,qty,quoteQty,time,isBuyerMaker,isBestMatch,dt
0,1274557543,43160.00,0.00056,24.169600,1646092800000,True,True,2022-03-01 00:00:00.000
1,1274557544,43160.01,0.00052,22.443205,1646092800003,False,True,2022-03-01 00:00:00.003
2,1274557545,43160.01,0.00182,78.551218,1646092800004,False,True,2022-03-01 00:00:00.004
3,1274557546,43160.01,0.00631,272.339663,1646092800005,False,True,2022-03-01 00:00:00.005
4,1274557547,43160.00,0.00229,98.836400,1646092800006,True,True,2022-03-01 00:00:00.006
...,...,...,...,...,...,...,...,...
4809317,1279366860,42454.01,0.00124,52.642972,1646351999996,False,True,2022-03-03 23:59:59.996
4809318,1279366861,42454.00,0.00257,109.106780,1646351999996,True,True,2022-03-03 23:59:59.996
4809319,1279366862,42454.01,0.00054,22.925165,1646351999997,False,True,2022-03-03 23:59:59.997
4809320,1279366863,42454.01,0.00198,84.058940,1646351999997,False,True,2022-03-03 23:59:59.997
4809321,1279366864,42454.00,0.00052,22.076080,1646351999999,True,True,2022-03-03 23:59:59.999

Lets set the 'dt' column as the index

In [29]:
df.set_index('dt', inplace=True)
df.head()

,trade Id,price,qty,quoteQty,time,isBuyerMaker,isBestMatch
dt,,,,,,,
2022-03-01 00:00:00.000,1274557543,43160.00,0.00056,24.169600,1646092800000,True,True
2022-03-01 00:00:00.003,1274557544,43160.01,0.00052,22.443205,1646092800003,False,True
2022-03-01 00:00:00.004,1274557545,43160.01,0.00182,78.551218,1646092800004,False,True
2022-03-01 00:00:00.005,1274557546,43160.01,0.00631,272.339663,1646092800005,False,True
2022-03-01 00:00:00.006,1274557547,43160.00,0.00229,98.836400,1646092800006,True,True

Since only Price and time is required for backtesting the strategy, lets remove all the unnecessary columns

In [33]:
df = df['price'].to_frame()
df.head()

                            price
dt
2022-03-01 00:00:00.000  43160.00
2022-03-01 00:00:00.003  43160.01
2022-03-01 00:00:00.004  43160.01
2022-03-01 00:00:00.005  43160.01
2022-03-01 00:00:00.006  43160.00

Lets save the dataframe to a csv file for further use

In [34]:
df.to_csv('BTCUSDT-trades-2022-03_price.csv')

In [35]:
# df_small = df.iloc[:10000,:]
# df_small.to_csv('BTCUSDT-trades-2022-03_price_small.csv')